.app-sidebar__user-avatar {
    width: 80px;
    padding: 6px;
}

.app-nav {
    background-color: #283940;  
}

.app-sidebar__toggle {
    background-color: #283940;
}

.app sidebar-mini{
    background-color: #283940;
}

.app-header{
    background-color: #283940;
}


.app-header__logo{
    background-color: #283940;
}

.dropdown-item {
    background-color: rgb(209, 209, 209);
}

.app-sidebar{
    background-color: #283940;
}

.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
    color: #fff;
    background-color: #283940;
    text-decoration: none;
}


/* estilos para el icono del menu */
.app-sidebar__toggle{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;

}

.app-sidebar__toggle::before{
    display: none;
}


.page-item.active .page-link {
    background-color: #283940;
    border-color: #283940;
}

a{
    color: #283940;
}

.page-link {
    color: #283940;
}

::selection {
    background-color: #283940;
}


.confirm {
    background-color: #283940;
}



/* COLOR DE MODAL REGISTRAR - ACTUALIZAR */
.headerRegister, .header-view {
    background-color: #28A745;
    color: #fff;
}

.headerUpdate {
    background-color: #283940;
    color: #fff;
}

.notblock {
    display: none;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #28A745;
}

.linkw{
    text-decoration: none;
}


#divLoading{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(254, 254, 255, .65);
    z-index: 1;  /*se posiciona sobre todos los elementos*/
    display: none;
}


#divLoading img{
    width: 70px;
    height: 70px;
}


.wrapp-input{
    position: relative;
    width: 100%;
    min-height: 50px;
}

.wrapp-input input{
   outline: none;
   width: 100%;
   height: 50%;
   padding: 10px 30px 10px 20px;

}

.icon-eye{
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
}
